

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sacramento&family=Saira&display=swap');



html,
body {
  font-family: 'Caveat', cursive;
  font-family: 'Sacramento', cursive;
  font-family: 'Saira', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


th {
  @apply !min-w-[9rem];
}

:root {
  @apply bg-bg dark:bg-bg-dark;
}



* {
  box-sizing: border-box;
}

.link {
  @apply underline underline-offset-2 decoration-blue-500 hover:decoration-2 transition cursor-pointer;
}